.git/
.github/
.history/
.ruff_cache/
.venv/
.env
.pre-commit-config.yaml
.deepsource.toml
archive/
docs/
tests/
frontend/
outputs/
__pycache__/
*.py[cod]
*.log
*_out.txt
*_out_*.txt
*_err.txt
mkdocs.yml
LICENSE
.gitignore
.dockerignore
.pytest_cache/
pyrightconfig.json
renovate.json
CONTRIBUTING.md
SECURITY.md
CHANGELOG.md
PROJECT_EXPLANATION.md
coverage.xml
htmlcov/
node_modules/
